{% extends "layout.html" %}

{% block body %}
<script>

    setInterval(new_data, 7000);
    setInterval(raspi_temp, 7000);
  
    var counter = 0;
    function new_data(){
      // Send a GET request to the URL
      fetch('http://23.119.121.13/query')
      // Put response into json form
      .then(response => response.json())
      .then(data => {
          // Log data to the console
          document.querySelector('#temp').innerHTML = data['temperature'];
          document.querySelector('#humid').innerHTML = data['humidity'];
          document.querySelector('#time').innerHTML = data['time'];
          document.querySelector('#totalogs').innerHTML = data['id'];
      });
    }

// DATABASE QUERY ANALYSIS
document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('form').onsubmit = function() {
      var data = new FormData();
      data.append("date", document.querySelector("#date").value);
      data.append("date2", document.querySelector("#date2").value);
      data.append("data", document.querySelector("#data").value);
      data.append("calculate", document.querySelector("#calculate").value);

        fetch('http://23.119.121.13/analysis', { method: "POST", body: data })
        // Put response into json form
        .then(response => response.json())
        .then(data => {
          console.log(data);
          document.querySelector('#temp2').innerHTML = data['temperature'];
          document.querySelector('#humid2').innerHTML = data['humidity'];
          document.querySelector('#time2').innerHTML = data['time'];

        })

        // Catch any errors and log them to the console
        .catch(error => {
            console.log('Error:', error);
        });
        // Prevent default submission
        return false;
    }
});


  function light(){
    // Send a GET request to the URL
    fetch('http://23.119.121.13/lights')
    const lightswitch = document.querySelector('.custom-control-label');
    if (lightswitch.innerHTML == "Turn off light"){
      lightswitch.innerHTML = "Turn on light";
    }
    else{
      lightswitch.innerHTML = "Turn off light";
    }
  }

  document.addEventListener('DOMContentLoaded', function(){
    document.querySelectorAll('input[name="customRadio"]').forEach(function(input){
      input.onclick = function(){
        var data = new FormData();
        data.append("option", input.value)
        fetch('http://23.119.121.13/radiobutton', { method:"POST", body:data })
      }
    })
  })

  // Fetching weather API
  document.addEventListener('DOMContentLoaded', function(){
    fetch('http://23.119.121.13/weather')
    .then(response => response.json())
    .then(data => {
      document.querySelector('#ctemperature').innerHTML = data['temperature'];
      document.querySelector('#chumidity').innerHTML = data['humidity'];
      document.querySelector('#cdescription').innerHTML = data['description'];
    })
  })

  mychart = 0
  document.addEventListener('DOMContentLoaded', function() {

    fetch('http://23.119.121.13/querytable')
        // Put response into json form
        .then(response => response.json())
        .then(data => {
          console.log(data)
          var xValues = data[1];
          var data = data[0];

          mychart = new Chart("myChart", {
            type: "line",
            data: {
              labels: xValues,
              datasets: [{
                label: "Temperature",
                data: data,
                borderColor: "red",
                fill: false
              }]
            },
            options: {
              legend: {display: true}
            }
            
          });
          
 
      })

    // Catch any errors and log them to the console
    .catch(error => {
        console.log('Error:', error);
    });
  });



  // make function graph method
  setInterval(addData, 2000);
  // Update graph feature
  function addData() {

    fetch('http://23.119.121.13/querytable')
        // Put response into json form
        .then(response => response.json())
        .then(data => {
          console.log(data)
          var xValues = data[1];
          var data = data[0];
      
          // // // Remove first element 
          // mychart.data.labels.shift()
          // mychart.data.datasets[0].data.shift()

          // Append to last element
          mychart.data.labels.push(xValues.slice(-1))
          mychart.data.datasets[0].data.push(data.slice(-1))
          mychart.update()
          
      })

    // Catch any errors and log them to the console
    .catch(error => {
        console.log('Error:', error);
    });
    
}



// Adding Humidity 
setInterval(addHumidity, 2000);

function addHumidity() {

fetch('http://23.119.121.13/queryhumidity')
    // Put response into json form
    .then(response => response.json())
    .then(data => {
      console.log(data)
      var xValues = data[1];
      var data = data[0];
  
      // // // Remove first element 
      // mychart.data.labels.shift()
      // mychart.data.datasets[0].data.shift()

      // Append to last element
      myhumid.data.labels.push(xValues.slice(-1))
      myhumid.data.datasets[0].data.push(data.slice(-1))
      myhumid.update()
      
  })

// Catch any errors and log them to the console
.catch(error => {
    console.log('Error:', error);
});

}


document.addEventListener('DOMContentLoaded', function() {
  fetch('http://23.119.121.13/queryhumidity')
      // Put response into json form
      .then(response => response.json())
      .then(data => {
        console.log(data)
        var xValues = data[1];
        var data = data[0];

        myhumid = new Chart("myHumid", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              label: "Humidity",
              data: data,
              borderColor: "blue",
              fill: false
            }]
          },
          options: {
            legend: {display: true}
          }
          
        });
    })

  // Catch any errors and log them to the console
  .catch(error => {
      console.log('Error:', error);
});
});

// Raspberry Pi internal temperature fetch
// DATABASE QUERY ANALYSIS

function raspi_temp(){
    fetch('http://23.119.121.13/measuretemp')
        // Put response into json form
        .then(response => response.json())
        .then(data => {
          document.querySelector('#raspitemp').innerHTML = data;
        })

        // Catch any errors and log them to the console
        .catch(error => {
            console.log('Error:', error);
        });
      };

      function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
 }


 // Download CSV DATA
 function download(){
    fetch('http://23.119.121.13/download')
 }
</script>


<div class="container">
  <div class="row">
    <div class="col">
      <h2>Livestream</h2>
        <div>
            <!-- filling src with frames from webcam -->
            <img src="{{ url_for('video') }}" width="100%">
           
        </div>
        <br>
        <h4 style="text-align: left;">Settings</h4>
      <div class="custom-control custom-switch" style="text-align: left;">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="light()">
        <br>
        <label class="custom-control-label" for="customSwitch1">Turn on Light</label>
      </div>
      <br>

      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="greyscaleradio" name="customRadio" class="custom-control-input" value="grey">
        <label class="custom-control-label" for="greyscaleradio">Greyscale</label>
      </div>
      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="inverstedradio" name="customRadio" class="custom-control-input" value="invert">
        <label class="custom-control-label" for="inverstedradio">Inverted</label>
      </div>

      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="flipradio" name="customRadio" class="custom-control-input" value="flip">
        <label class="custom-control-label" for="flipradio">Flip Frames</label>
      </div>

      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="circleradio" name="customRadio" class="custom-control-input" value="circle">
        <label class="custom-control-label" for="circleradio">Detect Circles</label>
      </div>

      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="edgeradio" name="customRadio" class="custom-control-input" value="edge">
        <label class="custom-control-label" for="edgeradio">Edge Detection</label>
      </div>
      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="contourradio" name="customRadio" class="custom-control-input" value="contour">
        <label class="custom-control-label" for="contourradio">Contour Detection</label>
      </div>
      <div class="custom-control custom-radio" style="text-align: left;">
        <input type="radio" id="sobelradio" name="customRadio" class="custom-control-input" value="sobel">
        <label class="custom-control-label" for="sobelradio">Sobel Detection</label>
      </div>
    </div>
    <div class="col">
      <br>
      <br>
      <h4 style="text-align: left;">Live Data</h4><h4 class="blob green"></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="color:purple" >Temperature</th>
            <th scope="col" style="color:purple">Humidity</th>
            <th scope="col" style="color:purple">Timestamp</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td id="temp">Fetching...</td>
            <td id="humid">Fetching...</td>
            <td id="time">Fetching...<span></span></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="card shadow-0 border">
        <div class="card-body p-4">
          <h4 class="mb-1 sfw-normal">San Jose, CA</h4>
          <p class="mb-2">outside temperature: <strong id="ctemperature"></strong>°F</p>
          <p>outside humidity: <strong id="chumidity"></strong>°C</p>
          <p>Description: <strong id="cdescription"></strong></p>
        </div>
      </div>

      </section>
    </div>
  </div>
</div>

      
  <!-- </div>
  <div class="slidecontainer">
    <p>Data Capture Rate</p>
    <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
    <p>Rate: <span id="rate"></span>s</p>
  </div> -->

<!-- 
<h4 style="text-align: left;"> Perform Data Analysis</h4>
<br>

<form method="post">
    <label>From</label>
    <input autocomplete="off" autofocus id="date" name="date"  type="datetime-local" required="true"  min="2022-05-26T00:00" value="2022-05-26T00:00" >
    <label>to</label>
    <input autocomplete="off" autofocus id="date2" name="date2"  type="datetime-local" required="true" value="2022-06-19T00:00" >
    <p></p>
    <select name="data" id="data" required="true">
        <option disabled selected value="">Data</option>
        <option value="Temperature">Temperature</option>
        <option value="Humidity">Humidity</option>
    </select>
    <select name="calculate" id="calculate" required="true">
        <option disabled selected value="">Calculate</option>
        
        <option value="Minimum">Minimum</option>
        <option value="Maximum">Maximum</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Analyze" id="analyzebutton">

</form> -->

<br>
<br>
<table id="analyzing_table" class="table table-hover" hidden>
    <thead>
      <tr>
        <th scope="col">Humidity</th>
        <th scope="col">Temperature</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span id="humid2"></span></td>
        <td><span id="temp2"></span></td>
        <td><span id="time2"></span></td>
      </tr>
    </tbody>
  </table>
<br>
<br>
<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Temperature Plot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Humidity Plot</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <br>
    <h4 style="text-align: left;"> Temperature</h4>
    <canvas id="myChart" style="width:100%;max-width:900px"></canvas>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <br>
    <h4 style="text-align: left;"> Humidity</h4>
    <canvas id="myHumid" style="width:100%;max-width:900px"></canvas>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
<br>



  <style>
    .my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
  </style>


  <br>
  <br>
  <br>
  <br>
  <h2 style="text-align: left;">Data History</h2>
  <!-- <button class="btn btn-primary" style="float: right;" href="data.csv" download>Download Data</button> -->
  <br>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Temperature</th>
          <th scope="col">Humidity</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for log in datalogs %}
          <tr>
            <th scope="row">{{ log['id'] }}</th>
            <td>{{ log['temperature'] }}</td>
            <td>{{ log['humidity'] }}</td>
            <td>{{ log['time'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <br>



  <h2 style="text-align: left;">Fun Facts</h2>
  <p style="text-align: left;">Total Logs: <span style="color: green;" id="totalogs">0</span></p>
  <p style="text-align: left;">Raspberry Pi Core Temperature: <span style="color:red;" id="raspitemp">0</span>°F</p>
  <p style="text-align: left;">* panic if it reaches 185 °F</p>
  <!-- <button onclick="myFunction()">Toggle dark mode</button> -->

{% endblock %}